---
import Layout from "../layouts/Layout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import PortableText from "../components/PortableText.astro";
import TeamHero from "../sections/TeamHero.astro";

interface Social {
  platform: string;
  url: string;
}

interface Member {
  name: string;
  slug?: string;
  role: string;
  image: Image;
  alt?: string;
  bio: Array<any>;
  socials: Social[];
}

interface Image {
  asset: {
    url: string;
  };
  alt: string;
}

interface Title {
  title_name: string; // Reflects the `title_name` field in the `title` schema
}

interface TitleSection {
  title: Title;
  title_members: Member[];
}

interface Team {
  name: string;
  slug: string;
  title_sections: TitleSection[];
}

const query = `*[_type == "team"] {
  name,
  slug,
  title_sections[] {
    title-> {
      title_name // Updated to reflect "title_name" in the "title" schema
    },
    title_members[]-> {
      name,
      slug,
      role,
      title-> {
        title_name // Updated to reflect "title_name" in the "title" schema
      },
      image {
        asset-> {
          url
        },
        alt
      },
      bio,
      socials[] {
        platform,
        url
      }
    }
  }
}`;

const { data } = await loadQuery<Team[]>({
  query,
  params: {},
});
---

<Layout title="Team">
  <div class="flex flex-col items-center w-full">
    <TeamHero />
    <div class="p-20">
      {data?.map((team: Team) => (
        <section class="mb-20">
          <h2 class="text-4xl text-center mb-10">{team.name}</h2>
          {team?.title_sections && team?.title_sections.map((section: TitleSection) => (
            <div class="my-20">
              <h3 class="text-3xl mb-5">{section.title.title_name}</h3>
              <ul>
                {section?.title_members && section?.title_members.map((member: Member) => (
                  <li class="p-10 mb-10 max-w-[1000px] border-b border-gray-300">
                    <div class="flex flex-row gap-10">
                      {member?.image?.asset?.url && (
                        <img
                          src={member?.image?.asset?.url}
                          alt={member?.image?.alt || member.name}
                          class=" max-w-[300px] max-h-[300px] h-auto"
                        />
                      )}
                      <div>
                        {member?.name && <h4 class="text-2xl">{member.name}</h4>}
                        {member?.role && <p class="text-sm">{member.role}</p>}
                        {member?.bio && (
                          <div class="mt-5">
                            {member?.bio.map((block: any) => (
                              <p>
                                <PortableText portableText={block} />
                              </p>
                            ))}
                          </div>
                        )}
                        {member?.socials && member.socials.length > 0 && (
                          <ul class="mt-5">
                            {member?.socials && member?.socials.map((social: Social) => (
                              <li>
                                <a
                                  href={social.url}
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  class="text-[#008934]"
                                >
                                  {social?.platform}
                                </a>
                              </li>
                            ))}
                          </ul>
                        )}
                      </div>
                    </div>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </section>
      ))}
    </div>
  </div>
</Layout>
