---
import Navbar from "../sections/Navbar.astro";
import { VisualEditing } from "@sanity/astro/visual-editing";
import { ClientRouter } from "astro:transitions";

export type props = {
  title: string;
};
const { title } = Astro.props;
const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/fonts.css" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ClientRouter /> -->
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <VisualEditing enabled={visualEditingEnabled} zIndex={1000} />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const underline = document.getElementById("underline");
        const navItems = document.querySelectorAll("nav ul li a");
        const nav = document.querySelector("nav ul"); // or the relative container
        let navRect: DOMRect;
        if (!underline || !navItems || !nav) return;

        function updateNavRect() {
          if (nav) {
            navRect = nav.getBoundingClientRect();
          }
        }

        navItems.forEach((item) => {
          item.addEventListener("mouseenter", (event) => {
            updateNavRect();
            const target = event.target as HTMLElement;
            // bounding rect of the hovered element
            const itemRect = target.getBoundingClientRect();

            // position of the hovered element relative to the nav container
            const left = itemRect.left - navRect.left;
            const width = itemRect.width;

            underline.style.left = `${left}px`;
            underline.style.width = `${width}px`;
          });
        });

        nav.addEventListener("mouseleave", () => {
          underline.style.width = "0";
        });
      });
    </script>
  </body>
</html>

<style is:global>
  html,
  body {
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
  }
</style>
